*{
    margin: 0px;
    padding: 0px;
}
body{
 background-image: url("./images/Resume-Body-Bg.jpg");   
 background-repeat: no-repeat;
 background-attachment: fixed;
 height: 100%;
 background-position: center;
 background-size: cover;
}


@media only screen and (min-width:600px) and (max-width:800px ) {
    .basicInfo{
        flex-direction: column !important; 
        
    }
    .basicField{
        width: 100% !important;
    }
    .Form{
        width: 80% !important;
       
    }
    .Home{
        display: flex;
        flex-direction: column !important;
        width: 100vw;
         height: fit-content;
         justify-content: start !important;
         align-items: start ;
         
        }
    .banerImage{
        background-color: aqua;
        width: 100vw  !important;
        padding: 10px;
        border: 2px solid red;
    }
    .banerImage img{
        width: 100%;
    }
    .createBTN{
        width: 100;
        justify-content: center;
        align-items: center;
    
    }
  
}

@media  screen and (max-width:600px){
    .Home{
        display: flex;
        flex-direction: column !important;
        width: 100vw;
         height: fit-content;
         justify-content: start;
         align-items: start;
         
        }
    .banerImage{
     
        width: 100%  !important;
     
    }
    .banerImage img{
        width: 100%;
    }
    .createBTN{
        width: 100% !important;
        justify-content: center;
        align-items: center;

    }
    .basicInfo{
        flex-direction: column !important; 
    }
    .basicField{
        width: 100% !important;
        flex-direction: column !important;
    }
    .Form{
        width: 95% !important;
        
    }
    .basicField label{
        border-radius: 10px 10px 0px 0px !important;
        text-align: center;
    }

    .PhNolist{
        width: 100% !important;
        flex-direction: column;
    }
    .PhNolist input{
        border-radius: 5px 5px 0px 0px!important;
    }
    .PhNolist button{
        border-radius: 0px 0px 5px 5px!important;
    }
    .phoneNoContainer{
        width: 100%;
        flex-direction: column;
    }
    .skillForm{
        flex-direction: column !important;
    }
  
    .skillForm button{
        width: 100% !important;
        border-radius: 0px 0px 5px 5px !important;
    }
}
.Form{
    margin-top: 10px;
    width: 60%;
    border-radius: 10px;
   
    box-shadow: 0px 5px 26px 4px #6ec4e3;
    background-color: #20397e90;
    max-width: 1400px;
}
.basicField{
    width: 100%;
    margin-bottom: 5px;

}
.PhNolist{
    width: 45%;
}
.phoneNoContainer{
    width: 100%;
    justify-content: space-around;
}   
.basicInfo{
    justify-content: space-around;

    
}
.Home{
    display: flex;
    flex-direction: row; 
     width: 100vw;
     height: fit-content;
     justify-content: center;
    align-items: center;
    
}
.banerImage{
    width: 60%;
    height: 100%;
}   
.createBTN{
    
    display: flex;
    width: 40%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.themeBadge:hover{
    box-shadow: 0px 0px 20px 1px #6ec4e3 !important; 
}

/* loader CSS */
.loader {
    width: 60px;
    aspect-ratio: 1;
    --c:no-repeat linear-gradient(rgb(255, 0, 0) 0 0);
    background:
      var(--c) left   20px top    0,
      var(--c) top    20px right  0,
      var(--c) right  20px bottom 0,
      var(--c) bottom 20px left   0;
    background-size:calc(100%/3) calc(100%/3);
    animation: 
      l29-1 .75s infinite alternate linear,
      l29-2 1.5s infinite;
  }
  @keyframes l29-1 {
   90%,100% {background-size:calc(2*100%/3) calc(100%/3),calc(100%/3) calc(2*100%/3)}
  }
  @keyframes l29-2 {
   0%,49.99% {transform:scaleX(1)}
   50%,100%  {transform:scaleX(-1)}
  }